@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.about__title {
  color: #fff;
  max-width: 251px;
  z-index: 1;
  margin: 100px 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  margin: 119px 80px 173px 0;
}

.about__paragraph {
  color: #fff;
  max-width: 660px;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:nth-child(2) {
  padding: 20px 0;
}

.about__circle {
  position: absolute;
  height: 426px;
  width: 426px;
  left: -129px;
  top: -152px;
  border-radius: 50%;
  background-color: #2f80ed;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
