.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 106px;
  height: 39px;
  margin: 30px auto 0 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  letter-spacing: -0.6px;
  margin: 183px 0 0 80px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  margin: 28px 0 0 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 568px;
  width: 646px;
  z-index: -1;
}

.header__footer {
  margin: auto 80px 40px;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  font-weight: 500;
  font-style: normal;
  color: #838383;
}

.header__footer-span {
  display: block;
}

.header__address {
  align-self: flex-end;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  font-style: normal;
  max-width: 580px;
  margin: 100px auto 0 80px;
  color: #fff;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  max-width: 438px;
  margin: 24px auto 0 80px;
  color: #fff;
}

.recipes__subtitle-span {
  display: block;
}

.recipes__videos {
  height: 273px;
  width: 1000px;
  margin: 80px auto 215px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video {
  width: 480px;
  height: 273px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  color: #fff;
  justify-content: space-between;
  display: flex;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px auto 48px;
}

.reservation__form {
  margin: 0 auto 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 32px 0 8px;
}

.form__input {
  max-width: 385px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  border-color: #838383;
  color: #838383;
  padding: 0 0 0 20px;
}

.form__button {
  height: 60px;
  margin: 32px 0 32px;
  border-radius: 4px;
  background-color: #2f80ed;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  padding: 0;
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}

.form__button:hover {
  opacity: 70%;
}

.form__fieldset_checkbox {
  display: flex;
  flex-direction: row;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

.form__label_checkbox {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
